#picture-container{
	width: 100%;
	padding: 100px 50px;
	background-color: #ffffaa;
}

#picture-container div{
	height: 100px;
	width: 100%;
	background-color: #111aaa;
}

#picture-container img{
	height: 100%;
	width: 20%;
	display: inline-block;
}