#picture-container{
	width: 100%;
	padding: 100px 50px;
}

#picture-container div{
	margin: 50px 0;
	height: 100px;
	width: 100%;
}

#picture-container img{
	height: 100%;
	width: 20%;
	display: inline-block;
}